Repository shassen14/rust_robotics: changes, and which Codecov flags are due for each by the changed paths.
All: utils, num_methods, models, controls

remove patch. idk what this is
  codecov.yml
Due: none

rectangle points and line endpoints tests
  src/utils/math.rs
Due: utils

move codecov.yml to .github directory
  .github/codecov.yml
Due: none

removed propagate_linear function from base model
  src/models/base.rs
Due: models

add benchmarker codspeed-criterion-compat
  Cargo.toml
  benches/num_methods.rs
Due: none

add benchmarking into github actions
  .github/workflows/main.yml
Due: none

update codspeed benchmarks
  .github/workflows/codspeed.yml
  .github/workflows/main.yml
Due: none

add a token
  .github/workflows/codspeed.yml
Due: none

split github actions to different files
  .github/workflows/code_coverage.yml
  .github/workflows/codspeed.yml
  .github/workflows/main.yml
Due: none

dvector version of runge-kutta
  src/num_methods/defs.rs
  src/num_methods/experimental.rs
  src/num_methods/expiremental.rs
  src/num_methods/runge_kutta.rs
Due: num_methods

More benchmarks comparing dvector and svector for runge-kutta
  benches/num_methods.rs
Due: none

added runge-kutta tests for dynamic vector / matrices
  src/num_methods/runge_kutta.rs
Due: num_methods

added to-do list
  src/num_methods/runge_kutta.rs
Due: num_methods

Update LICENSE
  LICENSE
Due: none

initial copy of dijkstra. lots of bugs
  src/bin/exp_dijkstra.rs
  src/lib.rs
  src/path_planning/experimental.rs
  src/path_planning/mod.rs
Due: none

added a constructor for experimental dijkstra
  src/bin/exp_dijkstra.rs
  src/path_planning/experimental.rs
Due: none

changed cost to be usize and comparing for indices for cost
  src/path_planning/experimental.rs
Due: none

learned to use vector as key in hashmaps
  src/bin/exp_dijkstra2.rs
  src/path_planning/experimental.rs
Due: none

slight cleanup
  Cargo.toml
  src/bin/exp_dijkstra2.rs
  src/path_planning/experimental.rs
Due: none

1st iteration of dijkstra
  examples/dijkstra.rs
  src/path_planning/dijkstra.rs
  src/path_planning/mod.rs
Due: none

made dijkstra less efficient for animation purposes
  src/path_planning/dijkstra.rs
Due: none

Added 2D shapes and variant enum to swtich between
  src/utils/geometry.rs
  src/utils/mod.rs
Due: utils

started map_generator. nothing finished
  src/utils/geometry.rs
  src/utils/map_generator.rs
  src/utils/mod.rs
Due: utils

got to construct a map given a vector of obstacles
  src/utils/map_generator.rs
Due: utils

generating maps with circle objects via grid like
  examples/generate_custom_map.rs
  src/utils/map_generator.rs
Due: utils

draw circles as points
  examples/generate_custom_map.rs
  src/utils/plot2.rs
Due: utils

generate a plot with dijkstra and obstacles
  examples/dijkstra.rs
  examples/generate_custom_map.rs
  src/utils/map_generator.rs
Due: utils

read_toml replaced read_config
  examples/dijkstra.rs
  examples/generate_custom_map.rs
  src/bin/exp_dijkstra.rs
  src/bin/exp_dijkstra2.rs
  src/bin/read_bike_path.rs
  src/bin/test_bicycle_kinematic.rs
  src/bin/test_n_joint_arm2.rs
  src/bin/write_bike_path.rs
  src/models/ground_vehicles/basic_bicycle_kinematic.rs
  src/models/ground_vehicles/bicycle_kinematic.rs
  src/models/humanoid/n_joint_arm2.rs
  src/utils/files.rs
Due: utils, models

change cargo.toml to run example subdirectory
  Cargo.toml
  examples/path_planning/dijkstra.rs
Due: none

organized utils example file generate_custom_map
  Cargo.toml
  examples/utils/generate_custom_map.rs
Due: none

initial run_example.sh
  configs/path_planning/dijkstra_animation.toml
  scripts/run_example.sh
  scripts/valgrind_exe.sh
  scripts/variables.sh
Due: none

run_example.sh -f generate_custom_map
  Cargo.toml
  configs/utils/generate_custom_map_animation.toml
  examples/utils/generate_custom_map.rs
  scripts/run_example.sh
Due: none

generate_custom_map to read param file
  configs/utils/generate_custom_map_params.toml
  examples/utils/generate_custom_map.rs
  scripts/run_example.sh
  src/utils/geometry.rs
  src/utils/map_generator.rs
Due: utils

put _ before unused vars
  src/utils/map_generator.rs
Due: utils

small checkpoint for dijkstra animation. only obstacles plotted
  configs/path_planning/dijkstra_params.toml
  configs/path_planning/obstacle_map_params.toml
  examples/path_planning/dijkstra.rs
  scripts/run_example.sh
Due: none

ugly animation dijkstra
  examples/path_planning/dijkstra.rs
Due: none

poor man way of being able to change start and goal position for dijkstra example
  examples/path_planning/dijkstra.rs
Due: none

removed commented code
  examples/path_planning/dijkstra.rs
Due: none

add obstacles to path planning map
  configs/path_planning/obstacle_map_params.toml
Due: none

Path conditions:
  utils: any of: src/utils/**
  num_methods: any of: src/num_methods/**
  models: any of: src/models/**
  controls: any of: src/controls/**
