Repository shassen14/rust_robotics: changes, and which Codecov flags are due for each by the changed paths.
All: utils, num_methods, models, controls

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5
        base: auto
        paths:
          - "src"
        if_ci_failed: error
        informational: true


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        # branches:
        #   - "!main"
  individual_components:
    - component_id: module_utils
      name: utils
      paths:
        - src/utils/**
    - component_id: module_num_methods  # this is an identifier that should not be changed
      name: num_methods  # this is a display name, and can be changed freely
      paths:
        - src/num_methods/**
    - component_id: module_models
      name: models
      paths:
        - src/models/**
    - component_id: module_controls
      name: controls
      paths:
        - src/controls/**
      statuses:           # the core component has its own statuses
        - type: project
          target: auto
        - type: patch

remove files
  configs/path_planning/dijkstra_animation.toml
  src/bin/exp_dijkstra.rs
  src/bin/exp_dijkstra2.rs
Due: none

map_generator edit, include clap for cli args, changed read_config to read_toml
  Cargo.toml
  configs/utils/generate_custom_map_animation.toml
  configs/utils/generate_custom_map_params.toml
  examples/utils/generate_custom_map.rs
  media/custom_map.png
  src/lib.rs
  src/models/ground_vehicles/bicycle_kinematic.rs
  src/models/humanoid/n_joint_arm2.rs
  src/utils/files.rs
  src/utils/map_generator.rs
Due: utils, models

comments for mapping
  examples/utils/generate_custom_map.rs
  src/utils/map_generator.rs
Due: utils

Changed read_config -> read_toml
  src/bin/read_bike_path.rs
  src/bin/test_bicycle_kinematic.rs
  src/bin/test_n_joint_arm2.rs
  src/bin/write_bike_path.rs
  src/models/ground_vehicles/basic_bicycle_kinematic.rs
Due: models

change pid2 to standard Vec type instead of nalgebra SVec
  Cargo.toml
  examples/controls/n_joint_arm_2d.rs
  src/controls/mod.rs
  src/controls/pid2.rs
Due: controls

Change: avoided cloning vectors in pid2 kind of
  src/controls/pid2.rs
Due: controls

Add base_d for dynamic vectors, n_joint_arm_2d, and example simulation
  examples/controls/n_joint_arm_2d.rs
  src/models/base_d.rs
  src/models/humanoid/mod.rs
  src/models/humanoid/n_joint_arm2_d.rs
  src/models/mod.rs
Due: models

Add n_joint_arm toml to read params from
  configs/controls/n_joint_arm2_params.toml
  examples/controls/n_joint_arm_2d.rs
  src/models/humanoid/n_joint_arm2_d.rs
Due: models

Add PID params in toml file to read from
  configs/controls/n_joint_arm2_params.toml
  examples/controls/n_joint_arm_2d.rs
  src/controls/pid2.rs
Due: controls

Add animation params into robotic arm / control param toml file to have everything in one place
  configs/controls/n_joint_arm2_params.toml
  examples/controls/n_joint_arm_2d.rs
Due: none

checking if installing libfontconfig1-dev helps
  .github/workflows/main.yml
Due: none

testing a new way to build on both macos and ubuntu in workflow
  .github/workflows/main.yml
Due: none

Fix Set up Rust step maybe?
  .github/workflows/main.yml
Due: none

Add yeslogic install for both code coverage and codspeed
  .github/workflows/code_coverage.yml
  .github/workflows/codspeed.yml
Due: none

pids2.rs -> pid.rs replacing it. Removed bin n_joint_arm and is now in examples
  configs/controls/n_joint_arm2_params.toml
  examples/controls/n_joint_arm_2d.rs
  src/bin/test_n_joint_arm2.rs
  src/controls/mod.rs
  src/controls/pid.rs
  src/controls/pid2.rs
Due: controls

update readme and removed unnecessary config
  README.md
  configs/examples/animation_n_joint_arm2.toml
Due: none

Add windows_os check and cargo test in github actions
  .github/workflows/main.yml
Due: none

Add initial dijkstras lib
  src/lib.rs
  src/path_planning/dijkstras.rs
  src/path_planning/mod.rs
Due: none

Add 1st iteration of dijkstras example
  Cargo.toml
  configs/path_planning/dijkstras_params.toml
  examples/path_planning/dijkstras.rs
  src/path_planning/dijkstras.rs
Due: none

Update readme for dijkstras tutorial
  README.md
Due: none

Replaced finish_fn criteria instead of goal node input arg for dijkstra
  README.md
  examples/path_planning/dijkstras.rs
  src/path_planning/dijkstras.rs
Due: none

Abstracted index2d and position2d away from dijkstra example and put in the path_planning lib
  examples/path_planning/dijkstras.rs
  src/path_planning/dijkstras.rs
  src/path_planning/grid_item.rs
  src/path_planning/mod.rs
Due: none

Add unit tests for dijkstras, also verify_node >= comparator changed to >
  src/path_planning/dijkstras.rs
  src/path_planning/grid_item.rs
Due: none

deleted unnecessary comments
  src/path_planning/dijkstras.rs
Due: none

Add unit tests for calc_index and calc_position for grid_item
  src/path_planning/grid_item.rs
Due: none

Add initial docker files
  .dockerignore
  Dockerfile
  scripts/docker-compose.yml
  scripts/run_docker.sh
Due: none

Add simple build_docker_image.sh script
  scripts/build_docker_image.sh
Due: none

Add docker tutorial in README.md
  README.md
Due: none

Add generic float constants to utils
  src/utils/constant.rs
  src/utils/mod.rs
Due: utils

Add simplified longitudinal dynamics model for cars
  src/models/ground_vehicles/longitudinal_dynamics.rs
  src/models/ground_vehicles/mod.rs
Due: models

Add longitudinal model that can drive forward and brake until vel = 0
  src/bin/read_bike_path.rs
  src/controls/path_tracking.rs
  src/models/base.rs
  src/models/ground_vehicles/longitudinal_dynamics.rs
Due: models, controls

Add gradient_1d and compute_arc_length with unit tests
  src/utils/math.rs
Due: utils

Add unit tests for calculating forces such as aero, roll, grade for longitudinal
  src/models/ground_vehicles/longitudinal_dynamics.rs
Due: models

Add the speed profile calculation via curvature and max lateral acceleration to read_bike_path
  src/bin/read_bike_path.rs
Due: none

Add panic to different vector lengths in gradient_1d
  src/utils/math.rs
Due: utils

Add System tests for longitudinal dynamics model
  src/models/ground_vehicles/longitudinal_dynamics.rs
Due: models

Removed unused variables
  src/bin/read_bike_path.rs
Due: none

Initial "working" simulation template
  examples/simulation_template.rs
  src/utils/defs.rs
  src/utils/math.rs
Due: utils

Changed dt >= 0, integarator to be dyn instead of impl for runtime flexibility
  src/models/base_d.rs
Due: models

Remove linear_propagate. Don't think it'll work
  src/models/base.rs
Due: models
